.View_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.View_ContainerWrapper {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 300px;
  align-items: center;
  border-radius: 10px;
  margin: 15px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px 3px #888888;
}


.ImageCover_Container {
  height: 200px;
  width: 100%;
}

.Location_Container {
  display:flex;
  width:100%;
  justify-content: space-around;
  height: 40px;
  align-items: center;
}